GTM_REPLICATION=off
gtmdir=/home/vagrant/.fis-gtm
gtmver=V6.3-002_x86_64
gtm_dist=/usr/lib/fis-gtm/V6.3-002_x86_64
GTMCI=/vagrant/node_modules/nodem/resources/nodem.ci
gtmgbldir=/home/vagrant/.fis-gtm/V6.3-002_x86_64/g/gtm.gld
gtmroutines=/home/vagrant/.fis-gtm/V6.3-002_x86_64/o(/home/vagrant/.fis-gtm/V6.3-002_x86_64/r /home/vagrant/.fis-gtm/r) /usr/lib/fis-gtm/V6.3-002_x86_64/libgtmutil.so /usr/lib/fis-gtm/V6.3-002_x86_64 /vagrant/node_modules/nodem/src